/* css reset */
*{box-sizing: border-box;}
*:before, *:after{box-sizing: border-box;}
*{margin: 0; padding: 0;}
ul, ol{list-style: none;} 
a{color: inherit; text-decoration: none;}
img{ max-width: 100%; max-height: 100%;}
body {
    background: #eee;
}

/* style */

.globalHeader{
    /* border: 1px solid red; */
    margin: 20px;
}
@media(min-width: 500px){
    .globalHeader{
        margin: 60px 0 100px;
    }
}
.searchForm{
    display: flex;
    justify-content: space-between;
    
}
/* 大于等于500px的时候，小于500px不管 */
@media(min-width: 500px){
    .searchForm{
        max-width: 400px;
    /*  margin: 0 auto;   当前元素有宽度，可以用margin来居中,但是这样写会覆盖别人的 */
        margin-left: auto;
        margin-right: auto;
    }
}
.searchForm > input{
    width: 100%;
    margin-right: 10px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.searchForm > button{
    white-space: nowrap;
    padding: 0 28px;
    border-radius: 4px;
    background: #4E6EF2;
    border: 1px solid #DDDDDD;
    color: white;
    font-size: 16px;
}

.globalMain{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.siteList{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    justify-content: space-between;
}
@media(min-width: 500px){
    .siteList{
        margin-left: 0;
        margin-right: -25px;
        justify-content: flex-start;  /* 将手机端的space-between隐藏掉 */
    }
}
.siteList > li {
    /* border: 1px solid red; */
    margin-bottom: 10px;
}
@media(min-width: 500px){
    .siteList > li {
        margin-right: 25px;
    }
}
.siteList  .site{
    /* border: 1px solid red; */
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 20px;
    position: relative;   /* 相对定位 */
    cursor: pointer;  /* 手型 */
}
.siteList .site > .close{
    position: absolute;
    right: 5px;
    top: 0;
    display: none;  /* 先隐藏关闭标签 */
    cursor: default;  /* 手型变成默认的 */
}
.siteList .site:hover > .close{
    display: block;  /* 当鼠标浮上去的时候显示 */
}
.siteList .site > .logo{
    /* border: 1px solid red; */
    width: 64px;
    height: 64px;
    display: flex;    
    justify-content: center;  
    align-items: center; 
    font-size: 64px;
    text-transform: uppercase;  /* 全部大写显示 */
}
.siteList .site > .link{
    font-size: 14px;
    margin-top: 4px;
}
.siteList .addButton{
    /* border: 1px solid black; */
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.siteList .addButton  .icon{
    height: 64px;
    width: 64px;
}
.siteList .addButton  .text{
    font-size: 14px;
    margin-top: 4px;
}
.siteList .addButton .icon-wrapper{
    /* border: 1px solid red; */
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}